.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.container_header ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.container_header ul li a {
  text-decoration: none;
  color: black;
  padding: 50px 20px;
}

.container_header ul li a:hover {
  color: #0383f9;
  border-bottom: 4px solid #0383f9;
}

.container_main {
  background-color: black;
}

.container_main .jumbotron {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  height: 425px;
}

.container_main .dBox {
  width: 16%;
  padding: 20px;
}

.container_main .dBox .margine {
  margin-right: 20px;
}

.container_main .dBox .margine h4 {
  color: white;
  width: 100%;
}

.container_footer {
  /*  .backImage{
    background-image: url("../assets/img/footer-bg.jpg");
  }*/
}

.container_footer .backgroundBlue {
  background-color: blue;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container_footer .colonne {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container_footer .colonne div {
  margin-right: 20px;
}

.container_footer .lastFooter {
  background-color: #313130;
}

.container_footer .sign {
  border: 1px #0383f9 solid;
  color: white;
  padding: 10px;
}

.container_footer .containerFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.container_footer .footCol {
  display: flex;
  justify-content: space-between;
}

.container_footer h3 {
  color: #0383f9;
}

.container_footer .dFlexIcons {
  display: flex;
}

.container_footer .pIcons {
  margin-left: 10px;
}

