.container_footer{
  .backImage{
    background-image: url("../../../public/img/footer-bg.jpg");
    background-attachment: scroll;
    background-position: center;
    background-size: 110%;
  }

  .boxDC{
    display: flex;
  }
  .paddingBox{
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .imgOption{
    height: 40px;
    margin-right: 10px
  }
  .backgroundBlue{
    background-color: #0383f9;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .colonne{
    display: flex;
    justify-content: space-between;
    padding: 20px;
      div{
        margin-right: 20px;
      }
  }
  ul {
    h3{
      color: white;
    }
    li{
      list-style-type: none;
      
      a{
        color: grey;
        text-decoration: none;
        &:hover{
          color: #0383f9;
        }
      }
    }
  }
  .lastFooter{
    background-color: #313130;
  }
  .sign{
    border: 1px #0383f9 solid;
    color: white;
    padding: 10px;
  }
  .containerFooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
  .footCol{
    display: flex;
    justify-content: space-between;
  }
  h3{
    color: #0383f9;
  }
  .dFlexIcons{
    display: flex;
  }
  .pIcons{
    margin-left: 10px;
  }
}