.container_header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
        li{
           
           a{
             text-decoration: none;
             color: black;
             padding: 50px 20px;
             &:hover{
               color: #0383f9;
               border-bottom: 4px solid #0383f9;
             }
           }
        }
      }
}